* {
    margin: 0px;
}

.post {
    border: 1px solid black;
    height: 32vh;
    padding: 10px;
    margin-top: 25px;
}

.post img {
    float: left;
    width: 30%;
    width: 128px;
    height: 128px;
}

.post-content {
    float: right;
    width: 65%;
}

.post-author {
    padding-left: 20px;
}

.post-timestamp {
    font-size: 9px;
    padding: 5px 0px 10px 20px;
}

.post-title{
    margin-bottom: 10px;
}

.create-post{
    border: 1px solid black;
    padding: 10px;
}

.topRow{
    display: inline-block;
    margin-right: 5vh;
}

#bottomRow{
    padding: 10px 0px;
}

#messageInput{
    width: 60%;
    height: 25%;
}